<mat-toolbar>
  Pasta Digitalizada
  <span fxFlex></span>
  <ng-container *ngIf="!(authenticated$ | async)">
    <button mat-button routerLink="/auth/login">
      <mat-icon>input</mat-icon>
      Sign In
    </button>
    <button mat-button routerLink="/auth/signup">
      <mat-icon>person_add</mat-icon>
      Sign Up
    </button>
  </ng-container>
  <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
    <button mat-icon-button routerLink="/main/registers">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <p class="username">{{(user$ | async)?.email }}</p>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
