<div fxLayout="row" fxLayoutAlign="space-around center">
  <div>
    <h1>Novo Documento</h1>
    <form
      fxLayout="column"
      fxLayoutAlign="start stretch"
      [formGroup]="registerForm"
      (ngSubmit)="submit()"
      #form="ngForm"
    >
      <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between  begin">
        <mat-form-field fxFlex="30">
          <input
            matInput
            type="text"
            value=""
            placeholder="Titulo"
            formControlName="title"
          />
          <mat-error *ngIf="registerForm.controls.title.hasError('required')">
            Titutlo é obrigatório
          </mat-error>
        </mat-form-field>
        <input
          type="file"
          alife-file-to-base64
          multiple
          (onFileChanged)="onFileChanges($event)"
          [(fileModel)]="files"
        />
      </div>
      <button
        mat-button
        color="primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        <mat-icon>done</mat-icon>Submit
      </button>
    </form>
  </div>
  <div>
    <h1>Lista de Documentos</h1>

    <div *ngIf="registers?.length > 0">
      <mat-list>
        <div mat-subheader>Documentos</div>
        <mat-list-item *ngFor="let regi of registers">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>Título: {{ regi.title }}</div>
          <div mat-line>Nome do Arquivo: {{ regi.content }}</div>
          <!-- <div mat-line *ngIf="registers?.length > 0">Tipo: {{ generateFile(regi.file).type? 'PDF' : '' }}</div> -->
          
          
          <button mat-icon-button color="accent" (click)="delete(regi)">
            <mat-icon>delete</mat-icon>
          </button>
          <!-- <button mat-icon-button color="primary" (click)="edit(regi)">
            <mat-icon>edit</mat-icon>
          </button> -->
        </mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
